<?xml version="1.0" encoding="UTF-8"?>
<!-- 
Example on what is available to modify in this .xml file.

Color: Green, Blue, Red...
Height: ex; 100
Width: ex; 100
Position: upleft, upcenter, upright, centerleft, centercenter, centerright, downleft, downcenter, downright.

-->
<CATALOG>
	<TEXTBOX>
		<WIDTH>200</WIDTH>
		<STARTVALUE>Skriv in ditt namn</STARTVALUE>
		<ORIENTATION>above</ORIENTATION>
	</TEXTBOX>
	<BUTTON>
		<COLOR>red</COLOR>
		<HEIGHT>100</HEIGHT>
		<WIDTH>100</WIDTH>
		<POS>upcenter</POS>
	</BUTTON>
	<BUTTON>
		<COLOR>blue</COLOR>
		<HEIGHT>200</HEIGHT>
		<WIDTH>100</WIDTH>
		<POS>centerright</POS>
	</BUTTON>
	<BUTTON>
		<COLOR>magenta</COLOR>
		<HEIGHT>200</HEIGHT>
		<WIDTH>100</WIDTH>
		<POS>centercenter</POS>
	</BUTTON>
	<BUTTON>
		<COLOR>green</COLOR>
		<HEIGHT>300</HEIGHT>
		<WIDTH>200</WIDTH>
		<POS>centerleft</POS>
	</BUTTON>
	<SLIDER>
		<COLOR>green</COLOR>
		<HEIGHT>300</HEIGHT>
		<WIDTH>200</WIDTH>
		<STARTVALUE>40</STARTVALUE>
		<ENDVALUE>90</ENDVALUE>
		<ORIENTATION>above</ORIENTATION>
	</SLIDER>
</CATALOG>