body, html {
	height:100%;
	padding:0; 
	margin:0;
}

.button {
	background-image: url("http://www.bevezetem.hu/images/1310/angoranyul4.jpg");
	background-size: 100% 100%;
	position: relative;
	float: left;
	height:33.3%;
	width:33.3%;
}

.wrapper {
	width:100%; 
	height :100%; 
	background-color:Lime;
}