<?xml version="1.0" encoding="UTF-8"?>
<!-- 
Example on what is available to modify in this xml file.

All positions of the 3x3 grid Must be filled to ensure a correct alignment!

SUBMITNAME:
-SHOW: yes/no, If a popup window should appear that asks for the name of the customer
-DESCRIPTION: any string, The description written in the popup window

TESXTFIELD:
-ID: any number, not too long. This ID is sent to the application and specifies what button have been pressed. 
-BUTTONTEXT: any text, nt too long. This is shown ontop of the button
-POS: upleft, upcenter, upright, centerleft, centercenter, centerright, downleft, downcenter, downright.

BUTTON:
-ICON: URL or path in folder. 
-ID: any number, not too long. This ID is sent to the application and specifies what button have been pressed. 
-POS: upleft, upcenter, upright, centerleft, centercenter, centerright, downleft, downcenter, downright. 
-EMPTY: yes/no, for space without button.

SLIDER: 
-ID: any number, not too long. This ID is sent to the application and specifies what slider have been used. 
-STARTVALUE: any value, not bigger than ENDVALUE. 
-ENDVALUE: any value.
-POS: upleft, upcenter, upright, centerleft, centercenter, centerright, downleft, downcenter, downright.
-->
<CATALOG>
	<SUBMITNAME>
		<SHOW>yes</SHOW>
		<DESCRIPTION>Please enter your name, 3-12 letters!</DESCRIPTION>
	</SUBMITNAME>
	<TEXTFIELD>
		<ID>0</ID>
		<BUTTONTEXT>POST</BUTTONTEXT>
		<POS>downcenter</POS>
	</TEXTFIELD>
	<BUTTON>
		<ICON>standard_buttons/top_right.png</ICON>
		<ID>1</ID>
		<POS>upright</POS>
	</BUTTON>
	<BUTTON>
		<ICON>standard_buttons/middle_right.png</ICON> 
		<ID>2</ID>
		<POS>centerright</POS>
	</BUTTON>
	<BUTTON>
		<ICON>standard_buttons/bottom_right.png</ICON>
		<ID>3</ID>
		<POS>downright</POS>
	</BUTTON>
	<BUTTON>
		<ICON>standard_buttons/top_center.png</ICON>
		<ID>4</ID>
		<POS>upcenter</POS>
	</BUTTON>
	<BUTTON>
		<ICON>standard_buttons/bottom_left.png</ICON>
		<ID>5</ID>
		<POS>downleft</POS>
	</BUTTON>
	<BUTTON>
		<ICON>standard_buttons/middle_left.png</ICON>
		<ID>6</ID>
		<POS>centerleft</POS>
	</BUTTON>
	<BUTTON>
		<ICON>standard_buttons/top_left.png</ICON>
		<ID>7</ID>
		<POS>upleft</POS>
	</BUTTON>
	<DISPLAY>
		<ICON>standard_buttons/center_panel.png</ICON>
		<ID>0</ID>
		<POS>centercenter</POS>
	</DISPLAY>
</CATALOG>
